.content {
  padding: 40px;
}

.spin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.result {
    padding: 8px 32px;
    background: #fff;
}

.filter-container {
  background: #fff;
  height: 124px;
  margin-bottom: 2px;
  padding: 24px;
}

.filter-wrap {
  width: 33.2%;
  float: left;
  height: inherit;
  overflow-y: scroll;
}

.filter-wrap:not(:last-child){
    border-right: 1px solid  #e2e2e2;
}

.filter-wrap-list {
  margin: 0;
  padding: 18px 0;
  width: 80%;
  position: relative;
}

.filter-wrap-list-item a {
  letter-spacing: normal;
  background: #fff;
  border: 0;
  color: #15151e;
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 2.58;
  margin: 0;
  outline: 0;
  padding: 0 0 0 10.5%;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 700;
}

.filter-wrap-list-item:hover a span {
  border-bottom: 1px solid #e10600;
}

.filter-wrap-list-item a.active span {
  border-bottom: 1px solid #e10600;
  font-weight: 800;
}

.chart {
  padding: 20px;
  min-height: 50vh;
  background-color: white;
}

.chart-list {
  height: 30vh;
}

.chart-list-item {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  height: 100%;
}